body {
}

main {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
    margin-top: 50px;
}

#buttons {
    display: flex;
}

#operators {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#operators > button {
    flex-grow: 1;
}

#numbers {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 3;
    justify-content: stretch;
}

#numbers > *, #utilities > * {
    flex-grow: 1;
}

#display {
    text-align: right;
}

#numbers > button, #operators > button, #equals, #utilities > button {
    min-width: 95px;
    height: 50px;
}

#utilities {
    display: flex;
    align-content: stretch;
}